body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: yellow;
}
.hidden{
    display: none;
    color: red;
    font-family: 'Times New Roman', Times, serif;
    font-size: 12px;
}