body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color:#eef;
    font-family: 'Times New Roman', Times, serif;
}
.calculator{
    border: 1px; solid:#ccc;
    padding: 20px;
    background: #fff;
    border-radius: 12px;
    box-shadow: 0 0 10px#ccc;
}